body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.infoHeaderIcon {
    padding-left: 5px;
    padding-right: 5px;
}

#circle {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
}