{{>serviceInfoHeader .}}

<h3>Folders</h3>
{{#each itemJson.folders}}
<p>
    <img src="{{getItemIcon 'Folder' '16'}}" /> <a href="{{../itemUrl}}{{.}}/" target="_blank">{{.}}</a>
</p>
{{else}}
    <p>No folders.</p>
{{/each}}

<h3>Services</h3>
{{#each itemJson.services}}
<p>
    <img src="{{getItemIcon type '16'}}" /> <a href="{{../itemUrl}}{{getServiceNameFromAgsServiceName name}}/{{type}}" target="_blank">{{getServiceNameFromAgsServiceName name}}</a> ({{type}})
</p>
{{else}}
    <p>No services.</p>
{{/each}}