<p>
    {{#if .}}
    <p>
        <b>XMin: </b> {{xmin}}<br />
        <b>YMin: </b> {{ymin}}<br />
        <b>XMax: </b> {{xmax}}<br />
        <b>YMax: </b> {{ymax}}<br />
    </p>
    <p>
        <b>Spatial Reference </b>
        <a class="mapExtentFrame" data-fancybox-type="iframe" href='mapExtent.html?extent={"xmin":{{xmin}},"ymin":{{ymin}},"xmax":{{xmax}},"ymax":{{ymax}},"spatialReference":{"wkid":{{spatialReference.wkid}} }}'>
            <span title="Preview Extent in Map" class="glyphicon glyphicon-map-marker infoHeaderIcon"></span>
        </a>
        <br />
        <ul>
            {{#if spatialReference.wkid}}
            <li><b>WKID: </b> {{getSpatialReferenceInfo spatialReference.wkid}}</li>
            {{/if}}
            {{#if spatialReference.latestWkid}}
            <li><b>Latest WKID: </b> {{getSpatialReferenceInfo spatialReference.latestWkid}}</li>
            {{/if}}
            {{#if spatialReference.wkt}}
            <li><b>WKT: </b> {{spatialReference.wkt}}</li>
            {{/if}}
        </ul>
    </p>
    {{else}}
    N/A
    {{/if}}
</p>
