<!-- Simple Marker Symbol -->
{{#ifequal type "esriSMS"}}
    <b>Type: </b>{{convertEnumToString "esriSymbolType" type}}<br/>
    <b>Style: </b>{{convertEnumToString "esriSMSStyle" style}}<br />
    <b>Color </b>{{{getColorDetails color}}}<br />
    <b>Size: </b>{{displayNumberOrNA size}}<br />
    <b>Angle: </b>{{displayNumberOrNA angle}}<br />
    <b>X-Offset: </b>{{displayNumberOrNA xoffset}}<br />
    <b>Y-Offset: </b>{{displayNumberOrNA yoffset}}<br />
    {{#if outline}}
    <b>Outline</b><br/>
        <span class="paddedItem"><b>Color </b>{{{getColorDetails outline.color}}}</span><br />
        <span class ="paddedItem"><b>Width: </b>{{displayNumberOrNA outline.width}}</span><br />
    {{/if}}
{{/ifequal}}

<!-- Simple Line Symbol -->
{{#ifequal type "esriSLS"}}
    <b>Type: </b>{{convertEnumToString "esriSymbolType" type}}<br />
    <b>Style: </b>{{convertEnumToString "esriSLSStyle" style}}<br />
    <b>Color </b>{{{getColorDetails color}}}<br />
    <b>Width: </b>{{displayNumberOrNA width}}<br />
{{/ifequal}}

<!-- Simple Fill Symbol -->
{{#ifequal type "esriSFS"}}
    <b>Type: </b>{{convertEnumToString "esriSymbolType" type}}<br />
    <b>Style: </b>{{convertEnumToString "esriSFSStyle" style}}<br />
    <b>Color </b>{{{getColorDetails color}}}<br />
    <p class="paddedItem">
        <b>Outline</b><br/>
        {{> symbolDetails outline}}
    </p>
{{/ifequal}}

<!-- Picture Marker Symbol -->
{{#ifequal type "esriPMS"}}
    <b>Type: </b>{{convertEnumToString "esriSymbolType" type}}<br />
    <span class="paddedItem">
        <img src="data:{{contentType}};base64,{{imageData}}" />
    </span>
    <a href="{{getFullUrlOfSelectedNode '/images'}}/{{url}}" target="_blank">{{url}}</a><br />
    <b>Content Type: </b>{{displayTextOrNA contentType}}<br />
    <b>Width: </b>{{displayNumberOrNA width}}<br />
    <b>Height: </b>{{displayNumberOrNA height}}<br />
    <b>Angle: </b>{{displayNumberOrNA angle}}<br />
    <b>X-Offset: </b>{{displayNumberOrNA xoffset}}<br />
    <b>Y-Offset: </b>{{displayNumberOrNA yoffset}}<br />
{{/ifequal}}

<!-- Picture Fill Symbol -->
{{#ifequal type "esriPFS"}}
    <b>Type: </b>{{convertEnumToString "esriSymbolType" type}}<br />
    <span class="paddedItem">
        <img src="data:{{contentType}};base64,{{imageData}}" />
    </span>
    <a href="{{getFullUrlOfSelectedNode '/images'}}/{{url}}" target="_blank">{{url}}</a><br />
    <b>Content Type: </b>{{displayTextOrNA contentType}}<br />
    <p class="paddedItem">
        <b>Outline</b>
        {{> symbolDetails outline}}
    </p>
    <b>Width: </b>{{displayNumberOrNA width}}<br />
    <b>Height: </b>{{displayNumberOrNA height}}<br />
    <b>Angle: </b>{{displayNumberOrNA angle}}<br />
    <b>X-Offset: </b>{{displayNumberOrNA xoffset}}<br />
    <b>Y-Offset: </b>{{displayNumberOrNA yoffset}}<br />
    <b>X-Scale: </b>{{displayNumberOrNA xscale}}<br />
    <b>Y-Scale: </b>{{displayNumberOrNA xscale}}<br />
{{/ifequal}}

<!-- Text Symbol -->
{{#ifequal type "esriTS"}}
    <b>Type: </b>{{convertEnumToString "esriSymbolType" type}}<br />
    <b>Color </b>{{{getColorDetails color}}}<br />
    <b>Background Color </b>{{{getColorDetails backgroundColor}}}<br />
    <b>Border Line Size: </b>{{displayNumberOrNA borderLineSize}}<br />
    <b>Border Line Color </b>{{{getColorDetails borderLineColor}}}<br />
    <b>Halo Size: </b>{{displayNumberOrNA haloSize}}<br />
    <b>Halo Color </b>{{{getColorDetails haloColor}}}<br />
    <b>Vertical Alignment: </b>{{displayTextOrNA verticalAlignment}}<br />
    <b>Horizontal Alignment: </b>{{displayTextOrNA horizontalAlignment}}<br />
    <b>Right to Left </b>{{{displayBooleanAsImage rightToLeft "True" "False"}}}<br />
    <b>Angle: </b>{{displayNumberOrNA angle}}<br />
    <b>X-Offset: </b>{{displayNumberOrNA xoffset}}<br />
    <b>Y-Offset: </b>{{displayNumberOrNA yoffset}}<br />
    <b>Kerning </b>{{{displayBooleanAsImage kerning "True" "False"}}}<br />
    
    <b>Font</b><br />
    <p class="paddedItem">
        <b>Family: </b>{{displayTextOrNA font.family}}<br />
        <b>Size: </b>{{displayNumberOrNA font.size}}<br />
        <b>Style: </b>{{displayTextOrNA font.style}}<br />
        <b>Wight: </b>{{displayNumberOrNA font.weight}}<br />
        <b>Decoration: </b>{{displayTextOrNA font.decoration}}<br />
    </p>

    <b>Text: </b>{{displayTextOrNA text}}<br />
{{/ifequal}}