{{>serviceInfoHeader itemUrl}}

<p>
    <a href="#sectionGeneral">General</a> -
    <a href="#sectionExtent">Extent</a> -
    <a href="#sectionFields">Fields</a> -
    <a href="#sectionImageInfo">Image Info</a> -
    <a href="#sectionRasterInfo">Raster Info</a> -
    <a href="#sectionStatistics">Statistics</a> -
    <a href="#sectionMisc">Misc.</a>
</p>

<!-- General -->
<h3><a name="sectionGeneral">General</a></h3>
<p><b>Description: </b>{{{itemJson.description}}}</p>
<p><b>Service Description: </b>{{{displayTextOrNA itemJson.serviceDescription}}}</p>

<!-- Extent -->
<h3><a name="sectionExtent">Extent</a></h3>
<!--Extent-->
<h4>Extent </h4>
{{> extentDetails itemJson.extent}}
<h4>Initial Extent </h4>
{{> extentDetails itemJson.initialExtent}}
<!--Full Extent-->
<h4>Full Extent </h4>
{{> extentDetails itemJson.fullExtent}}

<!-- Fields -->
<h3><a name="sectionFields">Fields</a></h3>
<p><b>Object ID Field: </b>{{displayTextOrNA itemJson.objectIdField}}</p>
<p><b>Sort Field: </b>{{displayTextOrNA itemJson.sortField}}</p>
<p><b>Sort Value: </b>{{displayTextOrNA itemJson.sortValue}}</p>
    {{{generateTable itemJson.fields '{"tableDescription":[{"name":"name","title":"Name","type":"text"},{"name":"type","title":"Type","type":"enum", "enumType": "esriFieldType"},{"name":"alias","title":"Alias","type":"text"},{"name":"domain","title":"Domain","type":"esriDomain"},{"name":"length","title":"Length","type":"number"}],"naValue":"No Fields."}'}}}

<!-- Image Info -->
<h3><a name="sectionImageInfo">Image Info</a></h3>
<p>
    <b><u>Pixel Size</u> </b><br/>
    <b>X: </b>{{displayNumberOrNA itemJson.pixelSizeX}}
    <b> Y: </b>{{displayNumberOrNA itemJson.pixelSizeY}}
</p>
<p><b>Pixel Type: </b>{{displayTextOrNA itemJson.pixelType}}</p>
<p><b>Minimum Pixel Size: </b>{{displayTextOrNA itemJson.minPixelSize}}</p>
<p><b>Maximum Pixel Size: </b>{{displayTextOrNA itemJson.maxPixelSize}}</p>

<p><b>Band Count: </b>{{displayNumberOrNA itemJson.bandCount}}</p>

<p><b>Default Mosaic Method: </b>{{displayTextOrNA itemJson.defaultMosaicMethod}}</p>
<p><b>Allowed Mosaic Methods: </b>{{{convertCommaSeparatedTextToList itemJson.allowedMosaicMethods}}}</p>
<p><b>Mosaic Operator: </b>{{displayTextOrNA itemJson.mosaicOperator}}</p>
<p><b>Default Compression Quality: </b>{{displayNumberOrNA itemJson.defaultCompressionQuality}}</p>
<p><b>Default Resampling Method: </b>{{displayTextOrNA itemJson.defaultResamplingMethod}}</p>

<!-- Raster Info -->
<h3><a name="sectionRasterInfo">Raster Info</a></h3>
<p><b>Allow Raster Function: </b>{{{displayBooleanAsImage itemJson.allowRasterFunction "True" "False"}}}</p>
<p><h4>Raster Function Infos</h4>
{{{generateTable itemJson.rasterFunctionInfos '{"tableDescription":[{"name":"name","title":"Name","type":"text"},{"name":"description","title":"Description","type":"text"},{"name":"help","title":"Help","type":"text"}],"naValue":"N/A."}'}}}
    </p>
<p><b>Mensuration Capabilities: </b>{{{convertCommaSeparatedTextToList itemJson.mensurationCapabilities}}}</p>

<!-- Statistics -->
<h3><a name="sectionStatistics">Statistics</a></h3>
<p><b>Minimum Value: </b>{{displayTextOrNA itemJson.minValues}}</p>
<p><b>Maximum Value: </b>{{displayTextOrNA itemJson.maxValues}}</p>
<p><b>Mean Value: </b>{{displayTextOrNA itemJson.meanValues}}</p>
<p><b>Standard Value: </b>{{displayTextOrNA itemJson.stdvValues}}</p>
<p><b>Maximum Image Height: </b>{{displayNumberOrNA itemJson.maxImageHeight}}</p>
<p><b>Maximum Image Width: </b>{{displayNumberOrNA itemJson.maxImageWidth}}</p>
<p><b>Maximum Record Count: </b>{{displayNumberOrNA itemJson.maxRecordCount}}</p>
<p><b>Maximum Download Image Count: </b>{{displayNumberOrNA itemJson.maxDownloadImageCount}}</p>
<p><b>Maximum Download Size Limit: </b>{{displayNumberOrNA itemJson.maxDownloadSizeLimit}}</p>
<p><b>Maximum Mosaic Image Count: </b>{{displayNumberOrNA itemJson.maxMosaicImageCount}}</p>

<!-- Misc -->
<h3><a name="sectionMisc">Misc.</a></h3>
<p><b>Copyright Text: </b>{{displayTextOrNA itemJson.copyrightText}}</p>
<p><b>Service Data Type: </b>{{convertEnumerationValueToString "esriImageServiceDataType" itemJson.serviceDataType}}</p>
<p><b>Capabilities: </b>{{{convertCommaSeparatedTextToList itemJson.capabilities}}}</p>
