{{>serviceInfoHeader .}}

<p class="well well-sm">
    <a href="#sectionFolders">Folders</a> -
    <a href="#sectionServices">Services</a>
</p>

<p>
    <b>Version: </b>
    {{itemJson.currentVersion}}
</p>

<!-- Folders -->
<h3><a name="sectionFolders">Folders</a></h3>
<ul>
    {{#each itemJson.folders}}
        <li><a href="{{../itemUrl}}{{.}}" target="_blank">{{.}}</a></li>
    {{/each}}
</ul>

<!-- Services -->
<h3><a name="sectionServices">Services</a></h3>
<ul>
    {{#each itemJson.services}}
        <li><a href="{{../itemUrl}}{{name}}/{{type}}" target="_blank">{{name}} ({{type}})</a></li>
    {{/each}}
</ul>
